<h1> Blogs </h1>
<%= link_to  "Crear Post", new_blog_path %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
    </tr>
    <body>
      
      <% @blog.each do |blog| %>
        <tr>
          <td><%= blog.title %></td>
          <td><%= blog.content %></td>
          <td><%= link_to  "Show", blog_path(blog) %></td>
          <td><%= link_to  "Edit", edit_blog_path(blog) %></td>
          <td><%= link_to  "Delete", blog_path(blog), method: :delete, data: {confirm: "Está seguro de eliminar?"} %></td>
        </tr>
      <% end %>
      
    </body>
  </thead>
</table>
