
<%= form_for @blog, url: blog_index_path, method: :post do |f| %>
  <h3>Crea nuevo contenido</h3>
  <div>
    <%= f.label :title, "Título" %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :title, "Contenido" %>
    <%= f.text_area :content %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>